
#about-container {
    height: 55%;
}

#address-container > p {
    font-size: 1.5rem;
}

#about-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#address-container > p:first-child {
    font-weight: bold;
}

iframe {
    border-radius: 1rem;
}